/* @media screen and (max-width: 1450px) {
  body {
    background-color: lightgreen;
  }
} */
:root {
  font-family: 'Rubik', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #f1f1f1;
  background-color: #181c2c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --logoColor: #525974;
  --boxColor: #212436;
  --logoColorHover: #787eff;
  --gameContainerWidth: 45vw;
  
  --hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
}
body,#root {
  margin: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.main-container{
  display: flex;
}
.other {
  margin: 1vw;
  width: 96vw;
  margin-left: 2vw;
}

/* logo's style in navbar */

.logo{
  width: 20px;
  height: 20px;
  margin: 25px;
  fill: var(--logoColor);
  transition: fill 0.1s ease-in-out;
}
.typingLogo{
  width: 30px;
  height: 30px;
  margin: 25px;
}
.feedbackLogo,.dashboardlogo{
    width: 25px;
    height: 25px;
    margin: 20px;
}
.feedbackLogo path{
    stroke: var(--logoColor);
    stroke-width: 3;
}
.dashboardlogo{
    stroke: var(--logoColor);
    stroke-width: 1;
}
.loginLogo, .signOutLogo{
  width: 25px;
  height: 25px;
  margin: 20px;
}
.loginLogo{
  height: 30px;
}
.homeLogo:hover {fill: var(--logoColorHover)}
.homeLogo:hover {fill: var(--logoColorHover)}
.settingLogo:hover {fill: var(--logoColorHover)}
.signOutLogo:hover {fill: var(--logoColorHover)}
.achiveLogo:hover {fill: var(--logoColorHover)}
.tipsLogo:hover {fill: var(--logoColorHover)}
.loginLogo:hover {fill: var(--logoColorHover)}
.dashboardlogo:hover {fill: var(--logoColorHover)}
.dashboardlogo:hover{
    stroke: var(--logoColorHover);
    stroke-width: 1;
  }
.feedbackLogo:hover path {
    stroke: var(--logoColorHover);
    stroke-width: 3;
  }

/* virtical navbar style  */
nav, .nav-btn {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 55px;
  align-items: center;
}
.nav-btn{
  place-content: center;
}
.vl {
  border-left: 1px solid #525974;
  height: 90vh;
  position: absolute;
  left: 58px;
  top: 5vh;
}
.profileImg {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* games box inside home.jsx style */
.gamesContainer {
  position: absolute;
  top: 15vh;
  height: 75vh;
  overflow-y: scroll;
  width: var(--gameContainerWidth);
  margin: 10px;
}
.gamesContainer > p, .score > p{
  margin: 0px;
  padding-bottom: 20px;
  font-size: 25px;
  margin-left: 15%;
}
.score{
  display: flex;
  gap: 18px;
  flex-direction: column;
  width: 34vw;
  left: calc(var(--gameContainerWidth) + 10vw);
}
.score > p{
  margin-left: 10px;
}
.gamesContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #181c2c;
  border-radius: 10px;
}
.gamesContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--boxColor);
}
.scoreItems{
  display: flex;
  align-items: center;
  height: 55px;
  gap: 20px;
}
.scoreItems-avatar{
  height: 55px;
  border-radius: 10px;
  width: 55px;
}
.scoreItems-rank {
  height: 55px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid;
  border-radius: 10px;
  background-color: var(--boxColor);
  color: var(--logoColor);
  font-size:20px
}
.scoreItems-name{
  display: flex;
  flex-direction: column;
  height: 55px;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.scoreItems-name > p{
  margin: 0px;
}
.scoreItems-name > p:first-child{
  font-size: 18px;
}
.scoreItems-name > p:last-child{
  color: var(--logoColor);
  font-size: 14px;
}
.scoreItems-score{
  margin-left: auto;
  margin-top: 5%;
  color: var(--logoColor);
}
.games {
  margin-left: 12%;
  margin-bottom: 30px;
  height: 35%;
  width: 80%;
  border: 0px solid;
  box-shadow: 2px 3px 4px 2px #171a26;
  border-radius: 24px;
  background-color: var(--boxColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameName{
  margin: 5px;
}
.games-logo{
  display: flex;
  align-items: center
}
.games > p {
  margin: 10px 5px;
  text-align: center;
  font-size: 18px;
  color: var(--logoColor);
}
.gameCodeLogo{
  height: 30px;
  width: 30px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}


/* button style  */
.btn{
  background-color: #6d73ff;
  font-family: 'Rubik';
  color: #f1f1f1;
  font-size: 14px;
  border: 0px;
  border-radius: 7px;
  height: 45px;
  width: 80px;
}
.btn:active {
  background-color: #5c62cc;
  transform: scale(0.95);
}
.btn:disabled{
  background-color: var(--logoColor)
}
/* sign in page style */
.login-container {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.btnGoogle {
  display: flex;
  width: 200px;
  font-size: 16px;
  background-color: var(--boxColor);
  align-items: center;
  gap: 6px;
}

.googleLogo{
  height: 30px;
  width: 30px;
}
.login-form {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.iptLogin{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* word race style  */
.wordRaceContainer{
  position: relative;
  border: 2px solid #525974;
  border-radius: 11px;
  height: 80vh;
  margin: 10px;
  width: 70vw;
}
.WordRace{
  display: flex;
  gap: 1vw
}
.ipt-wordRace {
  height: 5vh;
  width: 59vw;
  margin: 10px;
  background: #181c2c;
  font-size: 23px;
  color: var(--logoColorHover);
  padding: 5px;
  border: 2px solid var(--logoColorHover);
  border-radius: 10px;
}
.wordRace-btn{
  width: 10vw;
  font-size: 20px;
}
.sideInfoWordRace {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.boxes {
  height: 27vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxes-title{
  margin: 0px;
  color: #f1f1f1;
}
.boxes-data {
  font-size: 100px;
  color: #6d73ff;
  margin: 0px;
}
.boxes{
  font-family: 'Black Ops One', cursive;
  font-size: 28px;
}
/* loader style */
.loader {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
.bike {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
}
.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
	animation: bikeBody 3s ease-in-out infinite;
	stroke: var(--primary);
	transition: stroke var(--trans-dur);
}
.bike__front {
	animation-name: bikeFront;
}
.bike__handlebars {
	animation-name: bikeHandlebars;
}
.bike__pedals {
	animation-name: bikePedals;
}
.bike__pedals-spin {
	animation-name: bikePedalsSpin;
}
.bike__seat {
	animation-name: bikeSeat;
}
.bike__spokes,
.bike__tire {
	stroke: currentColor;
}
.bike__spokes {
	animation-name: bikeSpokes;
}
.bike__spokes-spin {
	animation-name: bikeSpokesSpin;
}
.bike__tire {
	animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes bikeBody {
	from { stroke-dashoffset: 79; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
	from { stroke-dashoffset: 19; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
	from { stroke-dashoffset: 10; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}
	to {
		stroke-dashoffset: -25.133;
	}
}
@keyframes bikePedalsSpin {
	from { transform: rotate(0.1875turn); }
	to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
	from { stroke-dashoffset: 5; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}
	to {
		stroke-dashoffset: -31.416;
	}
}
@keyframes bikeSpokesSpin {
	from { transform: rotate(0); }
	to { transform: rotate(3turn); }
}
@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}
	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}
	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}

/* feedback style  */
.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; 
}
.feedback-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feedback-container form {
  width: 300px;
}

.feedback-container label {
  display: block;
  margin-bottom: 5px;
}

.feedback-container input,
.feedback-container select,
.feedback-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-container button:hover {
  background-color: #0056b3;
}
