:root {
  font-family: 'Rubik', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #f1f1f1;
  background-color: #181c2c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --logoColor: #525974;
  --boxColor: #212436;
  --logoColorHover: #787eff;
  --gameContainerWidth: 45vw;
}
body,#root {
  margin: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.main-container{
  display: flex;
}
.other {
  margin: 1vw;
  width: 96vw;
  margin-left: 2vw;
}

/* logo's style in navbar */

.logo{
  width: 20px;
  height: 20px;
  margin: 25px;
  fill: var(--logoColor);
  transition: fill 0.1s ease-in-out;
}
.typingLogo{
  width: 30px;
  height: 30px;
  margin: 25px;
}
.feedbackLogo,.dashboardlogo{
    width: 25px;
    height: 25px;
    margin: 20px;
}
.feedbackLogo path{
    stroke: var(--logoColor);
    stroke-width: 3;
}
.dashboardlogo{
    stroke: var(--logoColor);
    stroke-width: 1;
}
.loginLogo, .signOutLogo{
  width: 25px;
  height: 25px;
  margin: 20px;
}
.loginLogo{
  height: 30px;
}
.homeLogo:hover {fill: var(--logoColorHover)}
.homeLogo:hover {fill: var(--logoColorHover)}
.settingLogo:hover {fill: var(--logoColorHover)}
.signOutLogo:hover {fill: var(--logoColorHover)}
.achiveLogo:hover {fill: var(--logoColorHover)}
.tipsLogo:hover {fill: var(--logoColorHover)}
.loginLogo:hover {fill: var(--logoColorHover)}
.dashboardlogo:hover {fill: var(--logoColorHover)}
.dashboardlogo:hover{
    stroke: var(--logoColorHover);
    stroke-width: 1;
  }
.feedbackLogo:hover path {
    stroke: var(--logoColorHover);
    stroke-width: 3;
  }

/* virtical navbar style  */
nav, .nav-btn {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 4vw;
  align-items: center;
}
.nav-btn{
  place-content: center;
}
.vl {
  border-left: 1px solid #525974;
  height: 90vh;
  position: absolute;
  left: 70px;
  margin-left: -3px;
  top: 5vh;
}
.profileImg {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* games box inside home.jsx style */
.gamesContainer {
  position: absolute;
  top: 15vh;
  height: 75vh;
  overflow-y: scroll;
  width: var(--gameContainerWidth);
  margin: 10px;
}
.gamesContainer > p, .score > p{
  margin: 0px;
  padding-bottom: 20px;
  font-size: 25px;
  margin-left: 15%;
}
.gamesContainer::-webkit-scrollbar {
  width: 8px;
  background-color: #181c2c;
  border-radius: 10px;
}
.gamesContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--boxColor);
}
.games {
  margin-left: 12%;
  margin-bottom: 30px;
  height: 35%;
  width: 80%;
  border: 0px solid;
  box-shadow: 2px 3px 4px 2px #171a26;
  border-radius: 24px;
  background-color: var(--boxColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameName{
  margin: 5px;
}
.games-logo{
  display: flex;
  align-items: center
}
.games > p {
  margin: 10px 5px;
  text-align: center;
  font-size: 18px;
  color: var(--logoColor);
}
.gameCodeLogo{
  height: 30px;
  width: 30px;
}
/* score box inside home.jsx style */
.score{
  width: 40vw;
  height: 75vh;
  position: absolute;
  top: 15vh;
  left: calc(var(--gameContainerWidth) + 10vw);
  margin: 10px;
}

/* button style  */
.btn{
  background-color: #6d73ff;
  font-family: 'Rubik';
  color: #f1f1f1;
  font-size: 14px;
  border: 0px;
  border-radius: 7px;
  height: 45px;
  width: 80px;
}
.btn:active {
  background-color: #5c62cc;
  transform: scale(0.95);
}
.btn:disabled{
  background-color: var(--logoColor)
}
/* sign in page style */
.login-container {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.btnGoogle {
  display: flex;
  width: 200px;
  font-size: 16px;
  background-color: var(--boxColor);
  align-items: center;
  gap: 6px;
}

.googleLogo{
  height: 30px;
  width: 30px;
}
.login-form {
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.iptLogin{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* word race style  */
.wordRaceContainer{
  position: relative;
  border: 2px solid #525974;
  border-radius: 11px;
  height: 80vh;
  margin: 10px;
  width: 70vw;
}
.WordRace{
  display: flex;
}
.ipt-wordRace {
  height: 5vh;
  width: 59vw;
  margin: 10px;
  background: #181c2c;
  font-size: 23px;
  color: var(--logoColorHover);
  padding: 5px;
  border: 2px solid var(--logoColorHover);
  border-radius: 10px;
}
.wordRace-btn{
  width: 10vw;
  font-size: 20px;
}